# Data Fetching 

## Types of Data

Data contained in databases, documents, e-mails, and other data files for predictive analysis can be categorized either as structured or unstructured data.

1. Structured Data

Structured data is well organized, follows a consistent order, is relatively easy to search and query, and can be readily accessed and understood by a person or a computer program.A classic example of structured data is an Excel spreadsheet with labeled columns. Such structured data is consistent; column headers-usually brief, accurate descriptions of the content in each column tell you exactly what kind of content to expect.
Structured data is usually stored in well-defined schemas such as databases. It's usually tabular, with columns and rows that clearly define its attributes.

2. Unstructured Data

Unstructured data, on the other hand, tends to be free-form, non-tabular, dispersed, and not easily retrievable; such data requires deliberate intervention to make sense of it. Miscellaneous e-mails, documents, web pages, and files (whether text, audio, and/or video) in scattered locations are examples of unstructured data.

It's hard to categorize the content of unstructured data. It tends to be mostly text, it's usually created in a free-form styles, and finding any attributes you can use to describe or group it is no small task.

The content of unstructured data is hard to work with or make sense of programmatically. Computer programs cannot analyze or generate reports on such data, simply because it lacks structure, has no underlying dominant characteristic, and individual items of data have no common ground.

Unstructured data requires more work to make it useful, so it gets more attention â€” thus tends to consume more time.

The resultant newly organized data from those necessary preprocessing steps can then be used in a predictive analytics model. The wholesale transformation of unstructured data however, may have to wait until you have your predictive analytics model up and running.

Data mining and text analytics are two approaches to structuring text documents, linking their contents, grouping and summarizing their data, and uncovering patterns in that data. Both disciplines provide a rich framework of algorithms and techniques to mine the text scattered across a sea of documents.

### Structured Data Fetching

   Structured data (arranged in well defined rows and columns) is spread across different relational databases in different tables.To prepare our dataset for analysis, we have to fetch it from different tables of respective databases.
    SQL (Structured  enables us to fetch and manipulate data) using following categories:
    
1. DDL (Data Definition Language):
Defines database-create,drop,alter,truncate,comment,rename etc
2. DML (Data Manipulation Language):
Manipulates data in database-select,insert,update,delete.
3. DCL (Data Control Language):
Rights and permission to access database-Grant,revoke
4. TCL (Transaction Control Language):
Transactions within database-commit,rollback,savepoint,set transactions
5. Clauses:
First hand Sorting and Filtering data-having,group by,order by,where,top

6.Primary and Foreign key - We use Primary Key to uniquely identify each Record in a table. The Primary Key is consist of single or multiple columns. Whereas Foreign Key is a set of multiple columns in a table that indicates the primary key in the alternate table.

7.Null Value - We use the term Null Value in SQL to express the missing value. It is a mark in SQL to represent that the value of data does not exist in the database. There is a difference between a Null Value and a zero value or a table that has spaces.

8.Subquery - Subquery also called as Nested Query or Insert Query. This means a query in another query, generally insert in WHERE Clause. There are 4 types of Subquery that are with a SELECT statement, INSERT statement, the UPDATE statement, DELETE statement. A Subquery can return a set of records to its primary query.

9.Indexes - With the help of SQL indexes we can find out the data easily and quickly, no need to search every row in a database table. That is SQL index quickly load the data. We use this to speed up searches. Index classified in 2 types - Clustered and Non-Clustered Indexes.

10.Joins - SQL Joins combines rows from two or more tables. SQL Joins are of 4 types - INNER, LEFT, RIGHT, FULL join.

In [49]:
# ! /usr/bin/python3.5.2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Seaborn is a library for making statistical graphics in Python.
# It is built on top of matplotlib and closely integrated with pandas data structures.
import seaborn as sns

import pymysql

#from sqlalchemy import create_engine
# python interface with os--allow to use OS functionality in python code
# import os
# os.system('clear')

# read text file from our project folder
train=pd.read_csv('train_u6lujuX_CVtuZ9i.txt')
test=pd.read_csv('test_Y3wMUE5_7gLdaTN.txt')

# Python Database API Specification
#API is the acronym for Application Programming Interface, which is a software intermediary that allows
#two applications to talk to each other. 

# here we are using pymysql-PyMySQL is an interface for connecting to a MySQL database server from Python. 
#It implements the Python Database API v2.0 and contains a pure-Python MySQL client library.

# open database connection -connect(parameters... ) is Constructor for creating a connection to the database.
# Returns a Connection Object. It takes a number of parameters which are database dependent.
# methods associated with connect() or connect() object here 'conn' should respond to .close(),.commit(),.rollback()
# and .cursor() method

# arguments in .connect method
# classpymysql.connections.Connection(host=None, user=None, password='', database=None, port=0, unix_socket=None,
#                                     charset='', sql_mode=None, read_default_file=None, conv=None,
#                                      use_unicode=None, client_flag=0, cursorclass=<class 'pymysql.cursors.Cursor'>,
#                                     init_command=None, connect_timeout=10, ssl=None, read_default_group=None, 
#                                      compress=None, named_pipe=None, autocommit=False, db=None, passwd=None, 
#                                      local_infile=False, max_allowed_packet=16777216, defer_connect=False, 
#                                      auth_plugin_map=None, read_timeout=None, write_timeout=None, bind_address=None,
#                                     binary_prefix=False, program_name=None, server_public_key=None)

conn = pymysql.connect (db='myproject1',user='root',passwd='mysql',host='localhost',cursorclass=pymysql.cursors.Cursor)


# task-write back 'train' dataframe into mysql server as table-'LoanData' under selected database 'selected_db_name'
# here I performed this write back task since MySQL server donot have any database and tables
# we can also use sqlalchemy package
#engine = create_engine('mysql+pymysql://username:password@localhost/selected_db_name')
#conn=engine.connect()
# pandas function
#train.to_sql("LoanData_duplicate",conn,schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None,flavor='mysql')

# Exception Handling (try---except block)
# "try" block==The try block lets you test a block of code for errors.If no exception occurs, the except clause is skipped 
# and execution of the try statement is finished.
# If an exception occurs during execution of the try clause, the rest of the clause is skipped. Then if its type 
# matches the exception named after the except keyword,the except clause is executed, and then execution continues
# after the try statement.
# If an exception occurs which does not match the exception named in the except clause, it is passed on to outer try statements; 
# if no handler is found, it is an unhandled exception and execution stops.
# You can use the "else" keyword to define a block of code to be executed if no errors raised in "try" block
# "finally" block  lets you execute code, regardless of the result of the try- and except blocks.


try:


#with statement

#with statement in Python is used in exception handling to make the code cleaner and much more readable.
#It simplifies the management of common resources like file streams.
#An exception during code execution prevent the connection from closing properly which may introduce several bugs 
#in the code, i.e. many changes in files do not go into effect until the connection is properly closed.
    with conn:

#create a cursor object using cursor method--we can use cursor type having return type tuple or dictionary
#database cursor, which is used to manage the context of a fetch operation. Cursors created from the same 
#connection are not isolated, i.e., any changes done to the database by a cursor are immediately visible by 
#the other cursors. Cursors created from different connections can or can not be isolated, depending on how 
#the transaction support is implemented (see also the connection's .rollback() and .commit() methods
# Methods associated with cursor object are--i) cursor.callproc(arg..) ii) cursor.close() iii) cursor.execute()
# iv) cursor.executemany(args) v) cursor.fetchone() vi) cursor.fetchmany() vii) cursor.fetchall() 
# viii) cursor.nextset() ix) cursor.arraysize() x) cursor.setinputsizes(args..) xi) cursor.setoutputsizes(args..)
    
        cursor=conn.cursor()   #by default cursor type is tuple that is our result object is 'tuple'--here column names
                           # is in numerical form that is column names in table are replaced by 0,1,2...
                           # To get the result alongwith original column name,use cursorclass argument in connect method
    

    
    

#In order to make new table which does not exist in database we can use create table query

#Before that we have to check whther table name exist or not in repected database which is a good practice
    
# Data definition queries-create,drop,comment,rename,alter truncate
        
        sql_query_ddl1="Drop table if exists new_table"
        
        sql_query_ddl2="create table StudentData(roll_number integer primary key,name varchar(15),marks int,outof int)"
      
        # alter table query add/delete columns,add/delete constraints on columns
        
        sql_query_ddl3="Alter table StudentData add column pass_fail varchar(15)"
        
        sql_query_ddl4="rename table StudentData to StudentReport"
        
        # %d-decimal placeholder,%s-string placeholder
        
        sql_query_dml2="insert into StudentReport (roll_number,name,marks,outof,pass_fail) values (%s,%s,%s,%s,%s)"
        
        sql_query_dml3="update StudentReport set roll_number=2,name='Bharat',marks=55,outof=80,pass_fail='fail'"
        
        #truncate table keeps structure of table by deleting all the rows in table.
        
        sql_query_ddl5="truncate table StudentReport"
        
#Here LoanData_duplicate table already exist,so we are not creating table here
        
        # order of sql keywords in query matters 
        
        # order is--select(aggregate function,window,sort,partition),from(selecting from location),
        # where(filtering rows),Group by (grouping),having(selection)
        
        
#Data Manipulation queries-insert,select,update,delete

        # select-limit <number> --limit on fetching number of rows--limits on selection of rows
        # select can take-* (all rows),distinct <col_name>(unique rows,used to avoid data duplication),two or more column
        # names,AS-aliases (temporary renaming of column to improve readability),concat('col_name','col_name')
        # String Functions-trim(Leading/Trialing/Both '<character/string to be removed> from 'inputstring')
        
        sql_query1="select ApplicantIncome,Education from LoanData_duplicate limit 10"
        sql_query2="select ApplicantIncome as Income,Education as Edu from LoanData_duplicate"
        sql_query3="select distinct ApplicantIncome from LoanData_duplicate" 
        sql_query9="select Loan_ID,concat(ApplicantIncome,'+',CoapplicantIncome) as CombinedIncome from LoanData_duplicate"
        
        # string functions in select-ASCII(<charornum>),BIN(<num>),bit_length(<str>),char(<num>,<num>),char_length(<str>)
        # concat('<str>','<str>'),
        
        sql_query11="select ASCII('L')"
       
        
        # filtering specific rows--use of where clause--can use operators like <,>,=,<=,=>,!= and keywords-like,
        # Between,In,Not like,Not Between,Not In
        # But You cannot use aggregate functions (like avg(),count(),first(),last(),max(),min(),sum(),upper(),lower())
        # mid(),len(),round(),format()) in where clause
        
        # Like--filter on the basis of pattern-- wildcard '%' it means that any string of characters (of any length)
        # If you want to reduce the number of ORs in your SQL WHERE clause, you should use the IN operator instead.
        
        sql_query4="select * from LoanData_duplicate where ApplicantIncome<=3000 and Education='Graduate' order by ApplicantIncome DESC"

        sql_query5="select * from LoanData_duplicate where ApplicantIncome not like '%30%'"
        
        sql_query8="select Education from LoanData_duplicate where Education like '[GN]%'"
        
        sql_query6="select * from LoanData_duplicate where ApplicantIncome=3000 or ApplicantIncome=3254 "
        # look at the below query,'or' in replaced by 'in' 
        sql_query7="select * from LoanData_duplicate where ApplicantIncome in (3000,3254)"
        
        
        # select INTO for creating structure of new table from existing table in database
        # i.e create new table of same columns from existing table with data
        sql_query10="create table new_table select * from LoanData_duplicate where 1=0"
        # add data to created table(from existing one)
        sql_query12="insert into new_table select * from LoanData_duplicate"
        
        
        # Group by clause--used in conjunction with aggregate functions to group result set by one or more columns
        
        sql_query13="select Education,Dependents,sum(ApplicantIncome) from LoanData_duplicate group by Education,Dependents"
        
        # Having clause--Used in conjunction with aggregate function because where could not work with aggr. funs.
        
        sql_query14="select Education,Dependents,sum(ApplicantIncome) from LoanData_duplicate group by Education,Dependents having sum(ApplicantIncome) >3000"
        
        #execute SQL query using execute() method--You can use Transaction also in execute()
        
        #cursor.execute(sql_query_dml2,(1,Aakash,98,100,Pass))
        
        cursor.execute(sql_query14)

        # Fetch a single row using fetchone() method.
       
        first_row=cursor.fetchone()

        #fetchmany([size=cursor.arraysize])--Fetch first 5 rows defined by size argument--index starts from 1
        
        #many_rows=cursor.fetchmany(size=5)

        # Fetch all rows using fetchall() method.
        
        all_rows=cursor.fetchall()

        #return type of fetchone() and fetchall() methods is 'tuple' object,so type conversion is required
        
        data_tuple=list(all_rows)

        # look at the data that printed in output window
        
        print("The output is list of tuples \n\n\n  data_tuple= \n\n ",data, "\n\n")

        # convert this 'data' which is list object into the pandas DataFrame object
        
        data_table=pd.DataFrame(data)
        print("The list object 'data' is converted to pandas DataFrame object 'data_table' \n\n\n table_data= \n\n",data_table,"\n\n")


        #.rowcount read-only attribute specifies the number of rows that the last .execute*() produced 

        #(for DQL statements like SELECT) or affected (for DML statements like UPDATE or INSERT)

        #The attribute is -1 in case no .execute*() has been performed on the cursor or the rowcount of the 

        #last operation is cannot be determined by the interface.
        
        print("Affected Rows due to the Data Manipulation\n\n",cursor.rowcount,"\n\n")


        #cursor.description() is read-only attribute,a sequence of 7-item sequences.

        #Each of these sequences contains information describing one result column:

        #name

        #type_code

        #display_size

        #internal_size

        #precision

        #scale

        #null_ok
        
        print("Description of columns \n\n ",cursor.description)
        

# Most important topic in data gathering/collection from different tables (databases) is-Constraints on columns 
# (1. Not Null-indicates that a column cannot store Null value)
# (2. unique- ensures that each row for a column must have a unique value)
# (3. primary key-combination of Not Null and Unique,ensures that a column or combinations of two or more columns
#     have an unique identity which helps to find a particular record in table more easily and quickly)
# (4. Foreign key-ensures that the referential integrity of the data in one table to match values in another table)
# (5. check-ensures that vallue in column meets specific condition)
# (6. default-specifies a default values when specified none for this column)

# Above constraints plays an Important role in designing the schema for RDBMS.RDBMS schema is developed to avoid 
# duplication of data in tables.This is done for two reasons: i) Reducing amount of storage needed to store data
# ii) Avoiding unnecessary data conflicts that may creep in because of multiple copies of the same data getting stored.
# There are different methods are used while designing the schema for RDBMS.Such methods falls under the Database
# Normalization technique.
# Normalization is the design process where tables in the database are organized in such a way to avoid redundancy
# and dependency of the data. Using normalization of different forms, we can divide data into smaller structures 
# and establish links between them so that the data is optimally stored.
# There are various Normal forms available like 1NF,2NF,3NF and BCNF (Boyce-Codd Normalization form)
# When we use these forms,we get an idea of constraints and its use.



finally:
    conn.close()

The output is list of tuples


  data_tuple=

  [('Graduate', '0', Decimal('1423660')), ('Graduate', '1', Decimal('531549')), ('Graduate', '2', Decimal('412766')), ('Graduate', '3+', Decimal('379986')), ('Not Graduate', None, Decimal('14207')), ('Not Graduate', '0', Decimal('272851')), ('Not Graduate', '1', Decimal('76603')), ('Not Graduate', '2', Decimal('84839')), ('Not Graduate', '3+', Decimal('57656'))]


The list object 'data' is converted to pandas DataFrame object 'data_table'


 table_data=

               0     1        2
0      Graduate     0  1423660
1      Graduate     1   531549
2      Graduate     2   412766
3      Graduate    3+   379986
4  Not Graduate  None    14207
5  Not Graduate     0   272851
6  Not Graduate     1    76603
7  Not Graduate     2    84839
8  Not Graduate    3+    57656


Affected Rows due to the Data Manipulation

 10


Description of columns

  (('Education', 253, None, 252, 252, 0, True), ('Dependents', 253, None, 252, 252, 0, True), ('sum(ApplicantIncome)', 246, None, 42, 42, 0, True))